<md-content layout="column">
    <div layout="row" flex="10" layout-align="center center" ng-if="$ctrl.editavel">
        <!--Input paras imagens (invisível)-->
        <input multiple type="file" 
            aria-label="selecao-imagem"
            class="ng-hide" id="input-file-id"
            ng-model="$ctrl.local.imagens" 
            upload-imagem="onFileSelect($files)"/>
        <!--end Input paras imagens (invisível)-->

        <!--Label para o Input, o que é visto-->
        <label for="input-file-id"
               class="md-button md-raised md-primary"
               md-colors="{'background-color': '{{$root.theme}}-primary'}">Adicionar Imagens</label>
        <!--end Label para o Input, o que é visto-->
    </div>

    <!--Visualização das imagens-->
    <div id="myCarousel" class="carousel slide container-carousel" data-ride="carousel" flex="70" layout="row" ng-if="$ctrl.existemImagens()">
        <!-- Bolinhas -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" ng-repeat="imagem in $ctrl.local.imagens track by $index" data-slide-to="{{$index}}" ng-class="{'active': !$index}">
        </ol>
        <!-- end Bolinhas -->

        <!-- Wrapper -->
        <div class="carousel-inner wrapper-carousel">
            <div class="item container-imagem" ng-repeat="imagem in $ctrl.local.imagens track by $index" ng-class="{'active': !$index}" >
                <img class="imagem-local-card" src="{{imagem.conteudo}}" ng-click="$ctrl.mostraModalImagem($event, imagem, $ctrl.editavel)">
            </div>
        </div>
        <!-- end Wrapper -->

        <!-- Setas -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" layout="column" layout-align="center center">
            <i class="material-icons">keyboard_arrow_left</i>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" layout="column" layout-align="center center">
            <i class="material-icons">keyboard_arrow_right</i>
        </a>
        <!-- end Setas -->
    </div>
    <br>
    <!--end Visualização das imagens-->
</md-content>