<div layout="column" class="imagem-modal-full">
    <img src="{{imagemCtrl.imagem.conteudo}}"
         class="imagem-modal"
         aria-label="Imagem expandida">

    <md-button class="excluir-imagem-modal-button md-warn md-icon-button"
               ng-if="imagemCtrl.editavel"
               aria-label="Excluir imagem"
               ng-click="imagemCtrl.excluirImagem()">
        <md-icon>delete</md-icon>
        <md-tooltip md-direction="top">Excluir imagem</md-tooltip>
    </md-button>
</div>