<md-dialog flex>
    <md-dialog-content layout-padding>
        <div layout layout-padding layout-align="center center">
            <span class="md-title">Sobre os desenvolvedores</span>
        </div>
        <div layout="row" layout-align="center center">
            <div data-ng-repeat="dev in sobreCtrl.desenvolvedores track by $index" layout-padding>
                <!-- Dev informacoes -->
                <div layout="column" layout-align="center center">
                    <!-- Dev avatar -->
                    <md-list-item>
                        <div layout="column">
                            <img ng-src="{{ dev.img }}" class="md-avatar-icon"/>
                            <span class="md-subhead" data-ng-bind="dev.nome"></span>
                        </div>
                    </md-list-item>
                    <!-- Dev avatar -->
                    <!-- Dev infos -->
                    <div class="md-list-item-text" layout="row">
                        <p data-ng-repeat="link in dev.links" id="dev-link">
                            <a href="{{ link.link }}"
                               data-ng-bind="link.nome"
                               class="smooth-hover dev-link md-subhead"
                               target="_blank"></a>
                        </p>
                        <!-- end Dev links -->
                    </div>
                    <!-- end Dev infos -->
                </div>
                <!-- end Dev informacoes -->
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="sobreCtrl.fecharModal()">Fechar</md-button>
    </md-dialog-actions>
</md-dialog>
