<div flex layout="row">
  <!-- Main content -->
  <md-content>
    <md-list flex>
      <!-- Header sobre nos -->
      <md-subheader class="md-no-sticky" layout="row" layout-align="center center" flex>
        <h2>About us</h2>
      </md-subheader>
      <md-divider></md-divider>
      <!-- end Header sobre nos -->

      <!-- Primeira linha -->
      <div layout="row" flex>
        <div data-ng-repeat="dev in devs1 track by $index" flex>
          <!-- Dev informacoes -->
          <md-list-item class="md-3-line">
            <!-- Dev avatar -->
            <img ng-src="{{ dev.img }}" class="md-avatar" />
            <!-- Dev avatar -->
            <!-- Dev infos -->
            <div class="md-list-item-text" layout="column">
              <h3 data-ng-bind="dev.name"></h3>
              <h4 data-ng-bind="dev.act">
                <md-tooltip md-direction="top">
                  {{ dev.act }}
                </md-tooltip>
              </h4>
              <!-- Dev links -->
              <div layout="row" flex>
                <p data-ng-repeat="link in dev.links" id="dev-link">
                  <a href="{{ link.link }}" data-ng-bind="link.name" class="smooth-hover dev-link" target="_blank"></a>
                </p>
              </div>
              <!-- end Dev links -->
            </div>
            <!-- end Dev infos -->
          </md-list-item>
          <!-- end Dev informacoes -->
        </div>
      </div>
      <!-- end Primeira linha -->
      <md-divider></md-divider>
      <!-- Segunda linha -->
      <div layout="row" flex>
        <div data-ng-repeat="dev in devs2 track by $index" flex>
          <!-- Dev informacoes -->
          <md-list-item class="md-3-line">
            <!-- Dev avatar -->
            <img ng-src="{{ dev.img }}" class="md-avatar" />
            <!-- Dev avatar -->
            <!-- Dev infos -->
            <div class="md-list-item-text" layout="column">
              <h3 data-ng-bind="dev.name"></h3>
              <h4 data-ng-bind="dev.act">
                <md-tooltip md-direction="top">
                  {{ dev.act }}
                </md-tooltip>
              </h4>
              <!-- Dev links -->
              <div layout="row" flex>
                <p data-ng-repeat="link in dev.links" id="dev-link">
                  <a href="{{ link.link }}" data-ng-bind="link.name" class="smooth-hover dev-link" target="_blank"></a>
                </p>
              </div>
              <!-- end Dev links -->
            </div>
            <!-- end Dev infos -->
          </md-list-item>
          <!-- end Dev informacoes -->
        </div>
      </div>
      <!-- end Segunda linha -->
      <md-divider></md-divider>

      <!-- Header sobre aplicacao -->
      <md-subheader class="md-no-sticky" layout="row" layout-align="center center" flex>
        <h2>About Piton</h2>
      </md-subheader>
      <!-- end Header sobre aplicacao -->

      <!-- Infos aplicacao -->
      <md-list-item class="md-3-line">
        <div class="md-list-item-text text-center" layout="column" layout-align="center center">
          <p>Piton is an application that has been developed with the aim of making life simpler, offering a platform in which
            you can create annotations quickly and easily, but also offers great customization power and advanced features
            such as scheduling, todo's, and archiving notes, providing access to them from anywhere 
            Because everything on life depends on how much you take note of your thinkings and tasks to remember
            Piton was created by our group of students, especially, as a project for Software Engineering discipline, Computer Science course 
            of Federal University of Campina Grande, Paraíba, period 2016.2, taught by Rohit Gheyi.</p>
        </div>
      </md-list-item>
      <!-- end Infos aplicacao -->
      <md-divider></md-divider>
    </md-list>
  </md-content>
  <!-- end Main content -->
</div>
<div flex layout="row">