<md-dialog aria-label="reserva-detalhes" flex="60" md-theme="{{reservaCtrl.reserva.tema}}">
    <form name="formReserva"
          data-ng-submit="reservaCtrl.salvarReserva()">
        <cabecalho-reserva formulario="formReserva"
                           edicao="reservaCtrl.isEdicao"
                           reserva="reservaCtrl.reserva">
        </cabecalho-reserva>
        <md-dialog-content>
            <div class="md-dialog-content"
                 data-layout="row"
                 data-layout-align="start start"
                 data-layout-wrap>

                <!--Conteudo modal-->
                <div layout="column"
                     flex="100"
                     layout-wrap>
                    <detalhes-reserva-visualizacao ng-if="!reservaCtrl.isEdicao"
                        reserva="reservaCtrl.reserva">
                    </detalhes-reserva-visualizacao>
                    <detalhes-reserva-edicao ng-if="reservaCtrl.isEdicao" 
                        reserva="reservaCtrl.reserva"
                        local="reservaCtrl.local">
                    </detalhes-reserva-edicao>
                </div>
                <!--end Conteudo modal-->
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-warn"
                       ng-if="reservaCtrl.podeExcluir()"
                       ng-click="reservaCtrl.excluirReserva()">
                Excluir
            </md-button>
            <md-button
                    ng-if="reservaCtrl.podeEditar()"
                    ng-click="reservaCtrl.toggleEdicao()">
                Editar
            </md-button>
            <md-button class="md-warn"
                       ng-if="reservaCtrl.isEdicao"
                       ng-click="reservaCtrl.descartarMudancas()">
                Descartar
            </md-button>
            <md-button class="md-primary"
                       ng-if="reservaCtrl.isEdicao"
                       ng-disabled="!reservaCtrl.reserva.termoAceito && reservaCtrl.isCriacao()"
                       type="submit">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
