<md-content>
    <!-- SideBar -->
    <sidebar></sidebar>
    <!-- end SideBar -->
    <md-content id="main-page" layout-padding>
        <!-- Content -->
        <div class="content" layout="row">
            <!-- MainContent -->
            <div class="caixa-calendario" 
                layout="column" flex>
                <!-- Calendar -->
                <md-content id="main-field" layout="row" layout-wrap>
                    <calendar-md class="calendario"
                        flex layout
                        calendar-direction="calendarioCtrl.direcao"
                        on-prev-month="calendarioCtrl.mesAnt"
                        on-next-month="calendarioCtrl.mesProx"
                        on-day-click="calendarioCtrl.clickDia"
                        title-format="'MMMM y'"
                        ng-model='calendarioCtrl.dataSelecionada'
                        week-starts-on="calendarioCtrl.primeiroDia"
                        tooltips="calendarioCtrl.tooltips"
                        day-format="calendarioCtrl.formatacaoDia"
                        day-label-format="'EEE'"
                        day-label-tooltip-format="'EEEE'"
                        day-tooltip-format="'fullDate'"
                        day-content="calendarioCtrl.carregarConteudoDia"
                        disable-future-selection="false">
                    </calendar-md>
                </md-content>
                <!-- end Calendar -->
            </div>
            <!-- end MainContent -->
        </div>
        <!-- end Content -->
    </md-content>
</md-content>