<md-content>
    <md-content class="fill" layout-padding>
        <!-- Content -->
        <div class="content" flex>
            <form name="formularioLocal">
                <div class="md-toolbar-tools search-bar" layout layout-align="center">
                    <select-search-local flex
                                         formulario="formularioLocal"
                                         on-select-local="localCtrl.onChangeLocal(local)"></select-search-local>
                </div>
            </form>
        </div>

        <md-content ng-if="!localCtrl.local">
            <listagem-locais on-click-local="localCtrl.onChangeLocal(local)"></listagem-locais>
        </md-content>

        <md-content ng-if="localCtrl.local">
            <imagens-local local="localCtrl.local"
                           editavel="false"></imagens-local>
            <local-visualizacao local="localCtrl.local"></local-visualizacao>
        </md-content>

        <!-- Opções local -->
        <div ng-cloak>
            <md-fab-speed-dial class="md-fab-bottom-right md-fab-fixed md-scale"
                               md-open="localCtrl.menuAberto"
                               ng-if="localCtrl.edicao"
                               md-direction="up">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-accent">
                        <md-icon>menu</md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <md-button aria-label="Adicionar" class="md-fab md-raised md-mini"
                               ng-click="localCtrl.adicionarLocal()">
                        <i class="fa fa-plus"></i>
                        <md-tooltip md-direction="left">Adicionar Local</md-tooltip>
                    </md-button>
                    <md-button aria-label="Editar" class="md-fab md-raised md-mini"
                               ng-if="localCtrl.local"
                               ng-click="localCtrl.editarLocal()">
                        <md-icon aria-label="Editar">mode_edit</md-icon>
                        <md-tooltip md-direction="left">Editar Local</md-tooltip>
                    </md-button>
                    <md-button aria-label="Excluir" class="md-fab md-raised md-mini md-warn"
                               ng-if="localCtrl.local"
                               ng-click="localCtrl.deletarLocal()">
                        <md-icon aria-label="Excluir">delete</md-icon>
                        <md-tooltip md-direction="left">Excluir Local</md-tooltip>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
        <!-- end Opções local -->
        <!-- end Content -->
    </md-content>
    <div layout="row" layout-align="end" layout-padding>
        <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss"
           target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50"
                                                                                          alt="JWT Auth for open source projects"
                                                                                          src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
    </div>
</md-content>