<md-content>
    <md-content class="fill" layout-padding>
        <imagens-local local="localCtrl.local"
                       editavel="true"></imagens-local>
        <form name="formularioLocal">
            <local-edicao formulario="formularioLocal" local="localCtrl.local"></local-edicao>
        </form>
        <md-content>
            <md-input-container layout layout-align="center center">
                <md-button class="md-primary" ng-click="localCtrl.salvarLocal()">
                    Salvar Local
                </md-button>
                <md-button ng-click="localCtrl.limparCampos()">
                    Limpar campos
                </md-button>
            </md-input-container>
        </md-content>
    </md-content>
    <div layout="row" layout-align="end" layout-padding>
        <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss"
           target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50"
                                                                                          alt="JWT Auth for open source projects"
                                                                                          src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
    </div>
</md-content>