<md-content class="container-fluid">
    <div layout-fill layout-align="center center">
        <div>
            <div class="page-header" flex>
                <div>
                    <div class="well text-center">
                        <h1>
                            Piton
                        </h1>
                        <p>
                            <i>Because life is about how much you want to organize yourself... </i>
                        </p>
                    </div>
                    <h3 class="text-center">
                        Create notes, update them, schedule, customize, create TODO's... Everything with Piton!
                    </h3>
                </div>
            </div>
        </div>
    </div>
</md-content>
