<md-content class="container-fluid">
    <div layout-fill layout-align="center center">
        <div>
            <div class="page-header" flex>
                <div>
                    <div class="well text-center">
                        <h1>
                            Piton
                        </h1>
                        <p>
                            <i>Because life is about how much you want to organize yourself... </i>
                        </p>
                    </div>
                    <h3 class="text-center">
                        Create notes, update them, schedule, customize, create TODO's... Everything with Piton!
                    </h3>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="end">
            <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
        </div>
    </div>
</md-content>
