<!--<footer>-->
    <md-toolbar id="main-footer">
        <!--https://material.angularjs.org/1.1.0/demo/colors-->
        <div class="md-toolbar-tools">
            <md-button aria-label="About us" data-ng-click="aboutModal.open()">
                About us
            </md-button>
            <span flex></span>

            <div layout="row" layout-align="end">
                <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss" target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50" alt="JWT Auth for open source projects" src="//cdn.auth0.com/oss/badges/a0-badge-light.png"/></a>
            </md-input-container>
            <md-button aria-label="Version">
                Version 1.0.0
            </md-button>
        </div>
    </md-toolbar>
<!--</footer>-->