<md-content layout-padding layout="column">
    <h4 class="text-center" flex>Search Params</h4>
    <div>
        <md-content layout-padding flex>
            <div data-ng-repeat="(attr, value) in params"
                 layout="row" layout-align="space-between center" layout-padding flex>
                <md-button aria-label="delete-param" data-ng-click="deleteParam(attr); noteCtrl.filter()" flex="33">
                    <i class="fa fa-times" md-colors="{'color': 'red'}"></i>
                </md-button>
                <span class="text-center" flex="33">{{attr.toUpperCase()}}</span>
                <span class="text-center" flex="33">{{value.value}}</span>
            </div>
        </md-content>
    </div>
</md-content>