<md-sidenav class="md-sidenav-left md-whiteframe-4dp scroll-box"
            md-component-id="main-sidenav">
    <md-content layout-padding id="main-sidenav">
        <div layout="column" layout-align="center center">
            <img alt="Profile Picture" src="{{usuario.picture_large || usuario.picture}}"
                 class="img-circle img-responsive custom-centered">
            <h3 class="text-center" data-ng-bind="nomeUsuario"></h3>
        </div>
        <md-divider layout-padding></md-divider>
        <div>
            <h4 class="text-center">Telefone:</h4>
            <h5 class="text-center" data-ng-bind="usuario.numero_telefone_formatado"></h5>
        </div>
        <div>
            <h4 class="text-center">E-mail:</h4>
            <h5 class="text-center" data-ng-bind="getNomeEmail()"></h5>
            <h6 class="text-center" data-ng-bind="getDominioEmail()"></h6>
        </div>

    </md-content>
</md-sidenav>
