<md-sidenav class="md-sidenav-left md-whiteframe-4dp scroll-box"
            md-component-id="main-sidenav">
        <md-content layout-padding id="main-sidenav">
            <div layout="column" layout-align="center center">
                <img alt="Profile Picture" src="{{user.picture_large || user.picture}}"
                     class="img-circle img-responsive custom-centered">
                <h3 class="text-center" data-ng-bind="user.name"></h3>
            </div>
            <md-divider></md-divider>
            <div layout="column">
                <h2 class="text-center">Tags</h2>
                <md-button id="tag-button-{{$index}}" data-ng-repeat="tag in controller.getTags() | orderBy:'-count' track by $index"
                        data-ng-click="controller.filter('tags', tag.name, true); toggleSidebar();">
                    <p>{{ tag.name }}
                        <md-tooltip md-direction="top">{{ tag.name }}</md-tooltip>
                    </p>
                </md-button>
            </div>
        </md-content>
</md-sidenav>
