<form name="searchForm">
    <md-autocomplete flex
                     md-input-name="campoPesquisa"
                     md-selected-item="$ctrl.itemSelecionado"
                     md-search-text="$ctrl.pesquisa"
                     md-items="item in $ctrl.itensFiltrados()"
                     md-selected-item-change="$ctrl.onChangeItemSelecionado(item)"
                     md-item-text="item.nome"
                     md-require-match
                     md-floating-label="{{$ctrl.titulo}}">
        <md-item-template>
            <span md-highlight-text="$ctrl.pesquisa" md-highlight-flags="^i" >{{item.nome}}</span>
        </md-item-template>
        <div ng-messages="searchForm.campoPesquisa.$error" ng-if="searchForm.campoPesquisa.$touched">
            <div ng-message="md-require-match">{{$ctrl.mensagemItemNaoSelecionado}}</div>
        </div>
    </md-autocomplete>
</form>
